@media only screen and (max-width: 1140px) {
    .nav-list {
      flex-direction: column;
    }
    .navbar {
      flex-direction: column;
      transition: all 0.7s ease-out;
      height: 477px;
      z-index: 1;
    }
    .rightnav {
      text-align: center;
    }
    .box-main{
      flex-direction: column-reverse;
      max-width: 100%;
    }
    #search {
      width: 100%;
    }
    .burger {
      display: block;
    }
    .h-nav-resp {
      height: 72px;
    }
    .v-class-resp {
      opacity: 0;
    }
    .section
    {
      flex-direction: column-reverse;
    }
    .text-big
    {
      text-align: center;
    }
    .text-small
    {
      text-align: center;
    }
    .btn
    {
      text-align: center;
    }
    .btns
    {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .para
    {
      padding: 0;
  
    }
    .second-half img
    {
      width: 100%;
      height: 100%;
    }
    .first-half
    {
      margin: 30px;
    }
    .form input
    {
      position: relative;
      width: 93%;
    }
    .thumbnail img 
    {
      width: 100%;
    }
    .thumb 
    {
      width: 100%;
    }
    .contact
    {
      height: 65vh;
    }
    .firstSection
    {
      height: 100%;
    }
  }