* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}
html
{
  scroll-behavior: smooth;
}
#logo {
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  transition: 0.3s;
}
#logo img:hover
{
  transform: scale(1.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
#search
{
  outline: none;
}
.nav-list {
  width: 70%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.nav-list li {
  list-style: none;
  padding: 23px 25px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 6px 5px;
  font-weight: bolder;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
.nav-list li a:hover,
.nav-list li a.active {
  background: gray;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.rightnav {
  /* background-color: rgb(0, 132, 255); */
  width: 30%;
  text-align: right;
  padding: 0 21px;
}
#search {
  padding: 4px;
  font-size: 18px;
  border: 2px solid grey;
  border-radius: 10px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("/img/bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
  margin: auto;
  height: 75%;
}
.firstSection {
  height: 100vh;
}
.first-half {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.second-half {
  width: 30%;
}
.second-half img {
  width: 250px;
  height: 250px;
  /* padding: 0px 0; */
  border: 2px solid;
  border-radius: 150px;
  display: block;
  margin: auto;
  transition: 0.5s;
  filter: drop-shadow(2px 4px 6px hsla(0, 27%, 68%, 0.726));
}
.second-half img:hover
{
  transform: scale(1.08);
  cursor: pointer;
  border: none;
}
.text-big {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 3px;
}
.text-small {
  font-size: 14px;
  color: #c5c5c5;
}
.btn {
  padding: 12px;
  margin: 20px 8px;
  border-radius: 22px;
  border: 2px solid grey;
  cursor: pointer;
  background: none;
  color: white;
  font-size: 20px;
}
.btn:hover {
  background: rgba(128, 128, 128, 0.404);
  transition: 0.4s;
}
.btn-sn {
  padding: 7px 11px;
  vertical-align: middle;
  font-size: 15px;
}
.btn-drk {
  color: black;
  border: 2px solid gray;
  font-size: 16px;
  font-weight: bolder;
}
.butn
{
  padding: 12px;
  margin: 20px 8px;
  border-radius: 22px;
  border: 2px solid grey;
  /* box-shadow: 10px 10px 10px purple; */
  cursor: pointer;
  background: rgba(245, 244, 244, 0.849);
  font-size: 20px;
  /* justify-content: center; */
  display: block;
  margin: 16px auto;
  color: rgba(3, 3, 3, 0.973);
  border: 2px solid gray;
  /* font-size: 16px; */
  font-weight: bolder;  
  transition: 0.5s cubic-bezier(0, 0, 0.38, 0.76);
}
.butn:hover
{
  /* background: rgba(128, 128, 128, 0.404); */
  background: whitesmoke;
  box-shadow: 1px 0px 20px blueviolet;
  /* color: wheat; */
  /* color: rgb(167, 161, 161); */
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 350px; */
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.left {
  flex-direction: row-reverse;
}
.thumbnail img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  transition: 0.5s;
}
.thumbnail img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.sec-subtag {
  color: rgba(0, 0, 0, 0.774);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.para {
  padding: 0 100px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.thumb {
  width: 300px;
  height: 270px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.thumb:hover {
  transform: scale(1.03);
}
.contact {
  /* background: #8e73b35c; */
  background: url(/img/9.jpg) no-repeat center center/cover;
  height: 75vh;
}
.text-center {
  text-align: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  color: cornsilk;
}
.form {
  max-width: 444px;
  margin: 20px auto;
}
.form input {
  width: 100%;
  font-size: 23px;
  border: 2px solid grey;
  border-radius: 8px;
  outline: none;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 6px;
}
#text {
  margin-top: 7px;
  text-align: center;
}
.text-footer {
  text-align: center;
  padding: 20px 0;
  color: wheat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-size: 35px; */
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 5px;
  margin: 5px 3px;
}
